@{
    ViewData["Title"] = "Hello Mokups - Lab13";
}

<div>
    <h1>Mockups</h1>
    <ul>
        <li><a asp-action="Quiz" asp-controller="Home">Quiz</a></li>
        <li><a asp-action="Results" asp-controller="Home">QuizResult</a></li>
    </ul>
</div>
